################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiscountCrazyAdmin/DiscountCrazyAdmin/bin
/.vs
/.vs
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/DiscountCrazyAdmin/packages
