################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiscountCrazyAdmin/DiscountCrazyAdmin/bin
/.vs
/.vs
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/DiscountCrazyAdmin/packages
/DiscountCrazyAdmin/DiscountCrazyAdmin.Autofac.Integration/bin/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Data/bin/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Domain/bin/Debug
