################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiscountCrazyAdmin/DiscountCrazyAdmin/bin
/.vs
/.vs
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/DiscountCrazyAdmin/packages
/DiscountCrazyAdmin/DiscountCrazyAdmin.Autofac.Integration/bin/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Data/bin/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Service/bin/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Core/bin/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.WebServiceApi/bin/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Autofac.Integration/obj/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Data/obj/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Service/obj/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.Core/obj/Debug
/DiscountCrazyAdmin/DiscountCrazyAdmin.WebServiceApi/obj/Debug

